node_modules
dist

# CDK asset staging directory
.cdk.staging
cdk.out

# Environment variables
.env
env.json

# Lambda build output
lambdas/dist

# SAM local dev
.aws-sam
template.local.yaml

# Claude
.claude/

# Keys
keys
